.adminusr-megacontainer{
    display: flex;
    flex-direction: column; 
    background: #2c3136;
    padding: 40px;
    margin: 100px auto;
    gap: 20px;
    color: #fff;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);

    max-width: 100% !important;
    max-height: 100% !important;
    width: 50%;
}
.adminusr-megacontainer h2{
    color: #2ecc71;
    font-size: 28px;
    margin-bottom: 10px 20px;
}
.adminusr-megacontainer p {
    border-bottom: #2ecc71 2px solid;
    padding-bottom: 1rem;
    width: 100%;
}
.adminusr-table{
    overflow: auto;
    scrollbar-width: thin; 
    scrollbar-color: #888 #3a4046;
}
.adminusr-megacontainer form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;

    margin-bottom: 20px;
}
.adminusr-megacontainer form input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    /* width: 130px;  */

    border-radius: 5px;
    width: 200px;
}
.adminusr-megacontainer form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #2ecc71;
    color: #fff;
    cursor: pointer;
}
.adminusr-megacontainer table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
}
.adminusr-megacontainer table th, .adminusr-megacontainer table td {
    border: 2px solid #000;
    padding: 8px;
    text-align: left;
}
.adminusr-megacontainer table th {
    background-color: #2c3136;
    color: #fff;
}
.adminusr-megacontainer table tr:nth-child(even) {
    background-color: #666966;
}
.adminusr-megacontainer table tr:hover {
    background-color: #4CAF50;
    cursor: pointer;
}
.adminusr-megacontainer table td:last-child {
    text-align: center;
}
.adminusr-megacontainer table a{
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #ff0000;
    margin: 1.5rem 0;
    color: #fff;
    text-decoration: none;
}
.adminusr-megacontainer table td:last-child button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #e74c3c;
    color: #fff;
    cursor: pointer;
}
.adminusr-megacontainer table td:last-child button:hover {
    background-color: #c0392b;
}
.adminusr-megacontainer table td:last-child button:disabled {
    background-color: #95a5a6;
    cursor: not-allowed;
}
.adminreq-megacontainer{
    display: flex;
    flex-direction: column; 
    background: #2c3136;
    padding: 40px;
    margin: 100px auto;
    gap: 20px;
    color: #fff;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}
.adminreq-megacontainer h2{
    color: #2ecc71;
    font-size: 28px;
    margin-bottom: 10px 20px;
}
.adminreq-megacontainer p {
    border-bottom: #2ecc71 2px solid;
    padding-bottom: 1rem;
    width: 100%;
}
.adminreq-table{
    max-height: 100% !important;
    max-width: 100% !important;
    height: 500px;
    overflow-y: auto;
}
.adminreq-megacontainer table {
    width: 900px;
    margin: 0 auto;
    border-collapse: collapse;
}
.adminreq-megacontainer table th, .adminreq-megacontainer table td {
    border: 2px solid #000;
    padding: 15px;
    text-align: left;
}
.adminreq-megacontainer table th {
    background-color: #2c3136;
    color: #fff;
}
.adminreq-megacontainer table tr:nth-child(even) {
    background-color: #666966;
}