/* login form styles */
@media (max-width: 768px) {
    body{
        height: 120vh;
    }
}
@media (max-width: 1900px) {
    body{
        height: 150vh;
    }
}

.request-row { 
    cursor: pointer; 
}
        
.request-row:hover { 
    background: #08b6d9; 
    color: #fff;
}
.request-row:hover .grn-font {
    color: #fff !important;
}

.items-box { 
    font-size: 13px; color: #444; 
}

.business-center-pending-container #reg-h2-style{
    text-align: center;
    color: #2ecc71 !important;
}

.business-center-pending-container p{
    text-align: center;
    color: #fff !important;
    padding-bottom: 1rem;
}

.business-center-pending-container .border-top{
    border-top: 1px solid #2ecc71;
    width: 100%;
}

.business-center-pending-container {
    display: flex;
    flex-direction: column; 
    max-width: 100%;
    margin: 100px auto;
    gap: 20px;

    background: #2c3136;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    width: 50%;
    text-align: center;
}
.business-center-pending-container::-webkit-scrollbar {
    display: none;
}

/* For Firefox */
.business-center-pending-container {
    scrollbar-width: none;
}

/* For IE and Edge */
.business-center-pending-container {
    -ms-overflow-style: none;
}

.business-center-pending-container table {
    width: 100%;
    border-collapse: collapse;
    background: #343638;
    border-radius: 8px;
    overflow-y: auto;
    scrollbar-width: thin; 
    scrollbar-color: #888 #3a4046;
    color: #fff;
}
.business-center-pending-table{
    height: 400px;
    
    overflow-x: auto;
    scrollbar-width: thin; 
    scrollbar-color: #888 #3a4046;
}

.grn-font {
    color: #2ecc71;
}
.wht-font {
    color: #fff !important;
}
.inline{
    display: inline-flex;
}
.inline .btn-default-style{
    padding: .3rem !important;
    margin: .5rem !important;
}
.inline .acpt:hover{
    background-color: #16ce62;
}
.inline .rej:hover{
    background-color: #ff0000;
}
.inline .rej{
    background-color: #b42424;
}
.inline .acpt a{
    text-decoration: none;
    color: #fff;
}
.business-center-pending-table table .HOVER:hover {
    background-color: #4caf78;
    color: #fff !important;
}
.a{
    color: #fff !important;
}


textarea {
    max-width: 100%;
    width: 100%;
    min-height: 120px;
    padding: 12px 14px;
    font-size: 14px;
    font-family: Arial, sans-serif;

    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;

    resize: vertical;
    transition: all 0.2s ease-in-out;
}

/* Focus effect */
textarea:focus {
    border-color: #2e7d32; /* green */
    box-shadow: 0 0 0 2px rgba(46, 125, 50, 0.15);
}

/* Placeholder style */
textarea::placeholder {
    color: #999;
    font-style: italic;
}

#rejectModal .acpt:hover{
    background-color: #16ce62;
}
#rejectModal .rej:hover{
    background-color: #ff0000;
}
#rejectModal .rej{
    background-color: #b42424;
}
#rejectModal .acpt a{
    text-decoration: none;
    color: #fff;
}