.container {
    background: #2c3136;
    padding: 40px;
    border-radius: 20px;
    width: 350px;
    text-align: center;
    box-shadow: 0 15px 40px rgba(0,0,0,0.4);
}

.title {
    font-size: 20px;
    font-weight: bold;
    color: #2ecc71;
    margin-bottom: 10px;
}


.subtitle {
    font-size: 13px;
    color: #fff;
    margin-bottom: 25px;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.option-btn {
    text-decoration: none;
    padding: 15px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
    border: 2px solid #2ecc71;
    width: 93%;
}

.student {
    background: #2ecc71;
    color: white;
}

.student:hover {
    background: #27ae60;
}

.admin {
    background: white;
    color: #2ecc71;
}

.admin:hover {
    background: #2ecc71;
    color: white;
}

.footer {
    margin-top: 20px;
    font-size: 12px;
    color: #888;
}

.container:hover {
    transform: translateY(-5px);
    transition: 0.3s;
}